.slidev-layout.center strong {
  font-weight: 900 !important;
  color: var(--slidev-theme-center-headingBg) !important;
  text-shadow: 0 0 12px rgba(94, 173, 242, 0.4); /* Bagliore azzurro (accents-blue) */
  opacity: 1 !important;
}

.slidev-layout.default strong {
  font-weight: 900 !important;
  color: var(--slidev-theme-default-headingBg) !important;
  text-shadow: 0 0 12px rgba(255, 228, 94, 0.35); /* Bagliore giallo (accents-yellow) */
  opacity: 1 !important;
}

.slidev-layout.section strong {
  font-weight: 900 !important;
  color: var(--slidev-theme-section-headingBg) !important;
  text-shadow: 0 0 12px rgba(21, 194, 203, 0.4); /* Bagliore celeste (accents-lightblue) */
  opacity: 1 !important;
}

.slidev-layout.cover strong {
  font-weight: 900 !important;
  color: var(--slidev-theme-cover-headingBg) !important;
  text-shadow: 0 0 12px rgba(21, 194, 203, 0.4); /* Bagliore celeste (accents-lightblue) */
  opacity: 1 !important;
}

.slidev-layout.center a {
  border-bottom-color: var(--slidev-theme-center-headingBg) !important;
}

.slidev-layout.default a {
  border-bottom-color: var(--slidev-theme-default-headingBg) !important;
}

.slidev-layout.section a {
  border-bottom-color: var(--slidev-theme-section-headingBg) !important;
}

.slidev-layout.two-columns li::marker {
  color: var(--slidev-theme-default-headingBg);
}

#app #slidev-goto-dialog {
  display: none !important;
}

.light {
  --slidev-theme-background: #fcfcfc;
  --slidev-theme-color: #1e293b;
  --slidev-theme-code-background: #f1f5f9;
  --slidev-theme-code-color: #1e293b;
  --slidev-theme-default-headingColor: #0f172a;
  --slidev-theme-center-headingColor: #0f172a;
  --slidev-theme-section-headingColor: #0f172a;
  --slidev-theme-header-shadow: rgba(0, 0, 0, 0.08) 1.95px 1.95px 2.6px;

  font-weight: 1000;
  
}